In [1]:
import pandas as pd
import os

In [2]:
import numpy as np

In [3]:
#read_file=pd.read_excel(r'C:\Users\Danie\OneDrive\Email attachments\Refyld-Ensembles-de-publicités-1-mar-2021-29-mar-2021.xlsx')
#read_file.to_csv (r'C:\Users\Danie\OneDrive\Email attachments\Refyld-Ensembles-de-publicités-1-mar-2021-29-mar-2021.csv')

In [4]:
#df_pub=pd.read_csv(r'C:\Users\Danie\OneDrive\Email attachments\Refyld-Ensembles-de-publicités-1-mar-2021-29-mar-2021.csv')

In [5]:
##read_file=pd.read_excel(r'C:\Users\Danie\OneDrive\Email attachments\Rapport-sans-titre-Feb-15-2021-Mar-29-2021.xlsx')
#read_file.to_csv (r'C:\Users\Danie\OneDrive\Email attachments\Rapport-sans-titre-Feb-15-2021-Mar-29-2021##.csv')

In [6]:
#df_pub_C=pd.read_csv(r'C:\Users\Danie\OneDrive\Email attachments\Rapport-sans-titre-Feb-15-2021-Mar-29-2021.csv')#

In [7]:
#pd.read_csv(r'C:\Users\Danie\Downloads\Detailed_Post_Performance_26-12-2020_to_26-03-2021.CSV')

In [8]:
#pd.read_excel(r'C:\Users\Danie\Downloads\Audience.xls', encoding='utf32')

In [9]:
#pd.read_csv(r'C:\Users\Danie\Downloads\survey_export_Votre_avis_sur_la_page_d_accueil_du_site_Refyld__Mar_26_2021.csv')

In [10]:
#pd.read_csv(r'C:\Users\Danie\Downloads\campaign_Campaign_Single_Welcome_Email_Mar_26_2021.csv', error_bad_lines=False)

In [11]:
#pd.read_csv(r'C:\Users\Danie\Downloads\campaign_Campaign_5_Documentaires_Pour_S_Inspirer__Mar_26_2021.csv', error_bad_lines=False)

In [12]:
#pd.read_csv(r'C:\Users\Danie\Downloads\campaign_Campaign_Hello_De_La_Team_Refyld__Mar_26_2021.csv', error_bad_lines=False)

In [13]:
#pd.read_excel(r'C:\Users\Danie\Downloads\Contenu_(1).xls')

In [14]:
#pd.read_csv(r'C:\Users\Danie\Downloads\data-export (3).csv', error_bad_lines=False)

In [15]:
#pd.read_csv(r'C:\Users\Danie\Downloads\data-export (2).csv', error_bad_lines=False, header=8)

In [16]:
df = pd.read_csv(r'C:\Users\Danie\Downloads\Data Complet.csv', sep=';')

In [17]:
df.head()

,Prénom,Nom,Prénom - Nom,Sexe,Age,Situation Familliale,Profession,Adresse,Complement Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Courriel,Numéro de téléphone,Titre de la contrepartie,Quantité,Montant unitaire total
0,romain,romain,romain-fontanel,H,NaN,NaN,NaN,10 place franklin,NaN,68100,Mulhouse,Grand-Est,FR,romain-fontanel,655971.0,romain.fontanel@hotmail.fr,+33671350519,Adhésion à vie - Tarif réduit,1.0,39.0
1,Élodie,Ramel,elodie-ramel,F,NaN,NaN,NaN,23 Avenue Albert Laurens,NaN,34230,Saint-Pargoire,Occitanie,FR,elodie-ramel,655971.0,elodie.ramel@outlook.com,+330622676348,Adhésion à vie - Tarif réduit,1.0,39.0
2,Amel,Ahmedou,melacafez,F,NaN,NaN,NaN,5 Allée Alexandre Vialatte,c/o Labadie,75013,Paris 13e Arrondissement,Île-de-France,FR,melacafez,656196.0,melacafez@yahoo.fr,+330622242230,ADHÉSION À VIE - Duo,1.0,99.0
3,Elina,Le Gourvellec,elinalegourvellec,F,NaN,NaN,NaN,16 Avenue de l'Alcyon,NaN,44300,Nantes,Pays-de-la-Loire,FR,elinalegourvellec,655971.0,elinalegourvellec@yahoo.fr,+33683876077,Adhésion à vie - Tarif réduit,1.0,39.0
4,PHILIPPE,BIGOT,phmabigot,H,NaN,NaN,NaN,8 Impasse du Chemin de Gesnes,NaN,61000,Saint-Germain-du-Corbéis,Normandie,FR,phmabigot,655971.0,phmabigot@yahoo.fr,+330601843644,Adhésion à vie - Tarif réduit,1.0,39.0

In [18]:
df.shape

(1195, 20)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1195 entries, 0 to 1194
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Prénom                          1157 non-null   object
 1   Nom                             1157 non-null   object
 2   Prénom - Nom                    1167 non-null   object
 3   Sexe                            1154 non-null   object
 4   Age                             0 non-null      float64
 5   Situation Familliale            0 non-null      float64
 6   Profession                      0 non-null      float64
 7   Adresse                         1160 non-null   object
 8   Complement Adresse              223 non-null    object
 9   Code postal                     1160 non-null   object
 10  Ville                           1160 non-null   object
 11  Région                          866 non-null    object
 12  Pays                            1185 non-null   object
 13  Nom d'utilisateur               1167 non-null   object
 14  Identifiant de la contrepartie  1156 non-null   float64
 15  Courriel                        1167 non-null   object
 16  Numéro de téléphone             1160 non-null   object
 17  Titre de la contrepartie        1156 non-null   object
 18  Quantité                        1167 non-null   float64
 19  Montant unitaire total          1167 non-null   float64
dtypes: float64(6), object(14)
memory usage: 186.8+ KB

In [20]:
df.columns

Index(['Prénom ', 'Nom ', 'Prénom - Nom ', 'Sexe', 'Age',
       'Situation Familliale ', 'Profession', 'Adresse ', 'Complement Adresse',
       'Code postal ', 'Ville ', 'Région ', 'Pays ', 'Nom d'utilisateur',
       'Identifiant de la contrepartie', 'Courriel', 'Numéro de téléphone',
       'Titre de la contrepartie', 'Quantité', 'Montant unitaire total'],
      dtype='object')

In [21]:
df['Profession'].value_counts()

Series([], Name: Profession, dtype: int64)

In [23]:
df['Ville '].value_counts()

Paris                       49
Paris 11e Arrondissement    25
Paris 18e Arrondissement    17
Paris 12e Arrondissement    16
Toulouse                    16
                            ..
Villeneuve-Loubet            1
Givet                        1
Paris 5e Arrondissement      1
Demi-Quartier                1
Eckbolsheim                  1
Name: Ville , Length: 711, dtype: int64

In [24]:
df.Sexe.value_counts()

F    922
H    232
Name: Sexe, dtype: int64

In [25]:
round(df.isna().sum()/df.shape[0]*100, 2)

Prénom                              3.18
Nom                                 3.18
Prénom - Nom                        2.34
Sexe                                3.43
Age                               100.00
Situation Familliale              100.00
Profession                        100.00
Adresse                             2.93
Complement Adresse                 81.34
Code postal                         2.93
Ville                               2.93
Région                             27.53
Pays                                0.84
Nom d'utilisateur                   2.34
Identifiant de la contrepartie      3.26
Courriel                            2.34
Numéro de téléphone                 2.93
Titre de la contrepartie            3.26
Quantité                            2.34
Montant unitaire total              2.34
dtype: float64

In [26]:
df['Région '].value_counts().head(20)

Île-de-France                                                    299
Auvergne-Rhône-Alpes                                             160
Nouvelle-Aquitaine                                                64
Occitanie                                                         62
Provence-Alpes-Côte d'Azur                                        42
Pays-de-la-Loire                                                  35
Grand-Est                                                         34
Bretagne                                                          22
Centre-Val de Loire                                               19
Hauts-de-France                                                   17
Bourgogne-Franche-Comté                                           15
Normandie                                                         14
France                                                            10
Genève                                                             5
Région de Bruxelles-Capitale - Brussels Hoofdstedelijk Gewest      5
FRANCE                                                             5
Vaud                                                               4
Haute-Savoie                                                       3
Paris                                                              3
Vlaanderen                                                         2
Name: Région , dtype: int64

In [27]:
df.Quantité.value_counts()

1.0    1131
2.0      24
3.0       8
4.0       2
5.0       2
Name: Quantité, dtype: int64

In [28]:
df['Identifiant de la contrepartie'].value_counts()

655971.0    987
669620.0     98
663095.0     36
656196.0     12
657937.0     12
669624.0      6
656199.0      2
663097.0      1
656197.0      1
656194.0      1
Name: Identifiant de la contrepartie, dtype: int64

In [29]:
df['Titre de la contrepartie'].value_counts()

Adhésion à vie - Tarif réduit                 987
ADHÉSION À VIE 🤩                               98
ADHÉSION À VIE - Prix réduit                   36
ADHÉSION À VIE - Duo                           18
Adhésion à vie - Tarif normal                  12
ADHÉSION À VIE - Share the love !               2
ADHÉSION À VIE - Trio                           1
ADHÉSION À VIE  À -35% 🥳 Prix de lancement      1
ADHÉSION À VIE - Prix normal                    1
Name: Titre de la contrepartie, dtype: int64

In [30]:
df['Code postal '].value_counts().head(20)

75011    32
75018    27
75015    23
75017    21
07100    19
75013    17
75012    16
75020    12
75010    10
75019     9
75009     9
07430     9
75016     8
69002     8
69007     7
44000     7
75007     7
92500     6
93100     6
74000     6
Name: Code postal , dtype: int64

In [31]:
df1=df.copy()

In [32]:
df1['Pays '].value_counts()

FR      1123
CH        14
BE         9
DE         5
16         3
NL         2
4          2
RE         2
12         2
11         1
PT         1
159        1
54         1
14         1
0          1
6          1
7          1
41         1
32         1
299        1
60         1
GF         1
9          1
DK         1
GB         1
1123       1
18         1
IE         1
63         1
21         1
33         1
59         1
Name: Pays , dtype: int64

In [33]:
df1.drop(['Age','Situation Familliale ', 'Profession','Prénom - Nom ', 'Numéro de téléphone', 'Courriel'],axis=1, inplace=True)

In [34]:
df1.isnull().sum()

Prénom                             38
Nom                                38
Sexe                               41
Adresse                            35
Complement Adresse                972
Code postal                        35
Ville                              35
Région                            329
Pays                               10
Nom d'utilisateur                  28
Identifiant de la contrepartie     39
Titre de la contrepartie           39
Quantité                           28
Montant unitaire total             28
dtype: int64

In [35]:
df1['Prénom '].unique()

array(['romain', 'Élodie', 'Amel', 'Elina', 'PHILIPPE', 'Maïder',
       'Vincent', 'Charlotte', 'Jean-Christophe', 'Selvanie', 'Alexandre',
       'Elisabeth', 'Laetitia', 'Emma', 'Sandrine', 'Patricia', 'Julien',
       'Cyril', 'Jérémy', 'Marc', 'Hélène', 'sandrine', 'Dorothée',
       'Aurore', 'Jessica', 'Dominique', 'Eve', 'Sandie', 'Léonie',
       'Romain', 'Apolline', 'HELENE', 'Regine', 'sophie', 'Patrizia',
       'Darlene', 'benedicte', 'florence', 'Charline', 'Véronique',
       'Kevin', 'Carole', 'Joséphine', 'Julie', 'Monique', 'SABINE',
       'Emmanuelle', 'Amandine', 'Denis', 'Gauthier', 'Anne', 'Sid-Ahmed',
       'Penélope', 'Marie-Christine', 'Marion', 'Éléonore', 'Audrey',
       'Gaëlle', 'NATHALIE', 'Anne-Sophie', 'Veronique', 'Cendrine',
       'Valérie', 'Anabelle', 'Emmanuel', 'Camille', 'Sarah', 'Sebastien',
       'Pierre', 'Manuella', 'valérie', 'Béatrice', 'Marine', 'Claire',
       'Martine', 'Safia', 'Ophelie', 'Caroline', 'Christine',
       'Catherine', 'Nathalie', 'Daniel', 'Isabelle', 'estefania', 'M',
       'Laura', 'Antoine', 'Sandra', 'JEAN-LOUIS', 'Yohanne', 'Eva',
       'Céline', 'Noemie', 'Sophie', 'Anne Sophie', 'GREGORY',
       'Christian', 'Evelyne', nan, 'Francis', 'Magali', 'Olivier',
       'Amélie', 'alexandre', 'Pascal', 'Philippe', 'Yves', 'MARC',
       'Cassandre', 'Beatrice', 'Axelle', 'Lydie', 'Marie', 'Mathilde',
       'Chloé', 'BENJAMIN', 'Ludivine', 'Patrick', 'Saskia', 'Jennifer',
       'Elody', 'Floriane', 'Rym', 'Corinne', 'Jérôme', 'Joanna',
       'Matthieu', 'Nicolas', 'Pamela', 'Manon', 'Pauline',
       'Marie-Noëlle', 'Eléonore', 'Florian', 'Johanna', 'Amelie',
       'Christelle', 'Prescillia', 'Anais', 'Eden', 'Oussama', 'Lucie',
       'Virginie', 'Guillaume', 'maele', 'Luana', 'FANNY', 'Bastien',
       'Milena', 'François', 'Julia', 'veronique', 'Yannick', 'VIRGINIE',
       'Clélie', 'Maxime', 'Victoire', 'Marianne', 'Florence', 'Myriam',
       'Alma', 'Stéphanie', 'Valentine', 'Geraldine', 'Louis', 'Alice',
       'ISABELLE', 'Océane', 'Marie-Neige', 'Euriel', 'Doria', 'Erell',
       'Laurent', 'Bénédicte', 'Celine', 'Jonathan', 'Natalia', 'Gwënn',
       'Ophélie', 'Sylvie', 'Capucine', 'Lucas', 'Guilaume', 'Hillel',
       'nathalie', 'Sullivan', 'Eric', 'Claude', 'Alexandra', 'Cécile',
       'Laure', 'Maylis', 'Esther', 'caroline', 'Anne Laure', 'Charlene',
       'Coralie', 'Pascale', 'Mélanie', 'Alix', 'Cannelle', 'Fanny',
       'Paula', 'Bérénice', 'Sélia', 'Lea', 'Johanne', 'Baptiste',
       'Clément', 'charlyne', 'Olga & Cyril', 'Lies & Patrick',
       'Aurélie & Renaud', 'Laurie', 'katleen', 'Eliane', 'martine',
       'Elise', 'Marie-Luce', 'Maïlys', 'Sybille', 'Arnaud', 'Eugénie',
       'Lionel', 'Héléna', 'jérémy', 'Laëtitia', 'DAMIEN', 'Karine',
       'guillaume', 'Noëmie', 'famille', 'Nahid', 'Fanny-Laure',
       'abdessalem', 'Leslie', 'Laurence', 'Célia', 'julie', 'Diana',
       'Tara', 'Lucile', 'jb', 'justine', 'Ingrid', 'Salomé', 'Brice',
       'claire', 'Angela', 'Siriane', 'Anaïs', 'Quentin', 'Mélissa',
       'Aurélien', 'Dimitri', 'Anne-Lise', 'Adriane', 'Aude', 'Carla',
       'Josephine', 'Houda', 'Loryn', 'Erwan', 'marie et dimitri',
       'Elyse', 'Candice', 'pierre', 'Aurélie', 'Virgile', 'Damien',
       'Marilyse', 'Maxence', 'Alexia', 'Martial', 'Anna', 'fabienne',
       'Norma', 'Amanda', 'Perrine', 'Galaad', 'Philomène', 'Aline',
       'Pía', 'Isabel', 'Laury', 'Elodie', 'SANDRINE', 'Hyun-Jung',
       'Loïc', 'Melanie', 'Chris', 'Thibault', 'Clermont', 'S et T',
       'Romane', 'Léa', 'Mélina', 'Katharina', 'Flore', 'Victoria',
       'Eléa', 'Aymeric', 'Florent', 'Justine', 'Jean-Paul', 'Nehla',
       'Teddy', 'Claire-Lise', 'Déborah', 'Thomas', 'Viviane', 'Aishat',
       'Ying-Ying', 'Samantha', 'Agathe', 'Sabrina', 'emilie', 'Clemence',
       'Louise', 'Berengere', 'Maud', 'Juliette', 'Laurianne', 'Rose',
       'marina', 'Roselyne', 'Phuoc', 'GENDRON', 'Logan', 'Charlène',
       'Faustine', 'Mona', 'William', 'Anouck', 'Radiance', 'Gwenn',
       'Gaelle', 'lorene', 'Clara', 'Paul-Henry', 'Clémence',
       'Anne Ségolene', 'daphne', 'EMILIE ET HUGUES', 'Joëlle', 'CELINE',
       'Cora-Lynn', 'Lise', 'Cathydja', 'Diane', 'valerie', 'Grégory',
       'Alizee', 'Anastasiia', 'remy', 'Anastasia', 'Ivan', 'Françoise',
       'lydie', 'Thirsa', 'Emilie', 'PATRICIA', 'laurent', 'Simon',
       'Margaux', 'Karin', 'Aurelie', 'Mailys', 'Hanen', 'Juliet',
       'CHRISTELLE', 'Annick', 'Soizic', 'Valerie', 'Gollnhofer',
       'Géraldine', 'Ghislaine', 'Charles', 'OLIVIA', 'Azza', 'katell',
       'Tiara', 'Séverine', 'Dany', 'philippine', 'Paddy', 'odile',
       'Florie', 'Frere', 'Loise', 'Graziella', 'Lena', 'Vanina', 'Inès',
       'Thierry', 'Estelle', 'Andréa', 'Chloe', 'Gabrielle', 'Danielle',
       'Lauriana', 'Delphine', 'Angelina', 'Lauriane', 'Audric', 'Martin',
       'sandra', 'Aurelien', 'alexandra', 'Sara', 'Henri', 'Satsuky',
       'Paola', 'Yann', 'Denis R', 'Geoffrey', 'Bathiste', 'Angèle',
       'Barbara', 'Xuan', 'Cristel', 'Romeo', 'Nadine', 'Isabeau',
       'Khadija', 'marthe', 'Marta', 'Emanuelle', 'Valentin', 'Morgane',
       'Claudia', 'LACHAUME', 'Rosine', 'Chrystal', 'Aurélia', 'Noemi',
       'Tim', 'Solange', 'Ondine', 'Didier', 'Olivia', 'David', 'Ludovic',
       'Cecile', 'MARIE', 'Yvette', 'MELANIE', 'chantal', 'RENAUD',
       'Juliane', 'Amalya', 'SIMON', 'Gwenaelle', 'Hugues', 'Sebastian',
       'evelyne', 'Bernard', 'Maeva', 'Robin', 'Marinette', 'Mathieu',
       'Anthony', 'Gilbert', 'Eryn', 'VALERIE', 'marie', 'Anne lise',
       'Corine', 'ERIC', 'delphine', 'Michael', 'MAUD', 'Eloise',
       'Victor', 'Mélie', 'Christophe', 'Lorée', 'Marie Gabrielle',
       'Clémentine', 'Linh', 'JULIEN', 'Anatole', 'Clarisse', 'Gabriel',
       'aline', 'Marius', 'Aïni', 'Jimmy', 'Tiphaine', 'Frederic',
       'Barthélemy', 'Ariane', 'Frédéric', 'Nessa', 'Gaëtan',
       'Anne-Marie', 'mathieu', 'PAUL', 'Marie-Pierre', 'Margot',
       'Maurane', 'Maryne', 'Hilda', 'Heïdi', 'Roxanne', 'Astrid',
       'thomas', 'Emeline', 'Florine', 'Benjamin', 'Vivien', 'Elsa',
       'Prune', 'Sophia', 'Zoe', 'Gabriella', 'Cyndie', 'Florentine',
       'Nassim', 'MARIELLE', 'Sabine', 'Hanna', 'Enaelle', 'Rachel',
       'Killian', 'Thibaud', 'mickael', 'Wassima', 'Pascaline', 'Héloïse',
       'Felix', 'Marie Cécile', 'Tatiana', 'Guillemette', 'Maëva', 'Lola',
       'Natacha', 'Adèle', 'Remy', 'Ella', 'Jean-Luc', 'Fabienne',
       'Anne-Charlotte', 'Helena', 'val', 'Patryk', 'Alicia', 'Hugo',
       'DIANE', 'garance', 'Adrien', 'Rouba', 'Sidonie', 'LEVRAT',
       'Matthias', 'Nelly', 'Kelly', 'Anne-Emmanuelle', 'Vina', 'Youna',
       'Annika', 'Sakina', 'Léopold', 'Adriana', 'Kristina', 'Thiara',
       'COLUCCI', 'Frédérique', 'Patrice', 'Melodie', 'Nidavan',
       'Marie-Laure', 'Stéphany', 'Marie-Anne', 'Batiste', 'pauline',
       'Odeline', 'Orane', 'Lorna', 'Huguette', 'Maëla', 'Pierre-xavier',
       'Kary', 'Bertille', 'James', 'Nour', 'Allan', 'Natalie', 'Ilfynn',
       'Maniline', 'Théodora', 'Maya', 'Jamie', 'Marina'], dtype=object)

In [36]:
lst_to_drop=df1[df1['Quantité'].isna()].index

In [37]:
df1.drop(lst_to_drop, inplace=True)

In [38]:
df1[df1['Pays ']=='RE']

,Prénom,Nom,Sexe,Adresse,Complement Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
541,remy,exelmans,NaN,33 ter allée cocos,NaN,97438,Ste Marie,Reunion,RE,rexelmans,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
944,Mélanie,Tuffereau,F,2 rue tétin savigny,NaN,97427,Étang salé les bains,NaN,RE,melanituff,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [39]:
df1[df1['Sexe'].isna()]

,Prénom,Nom,Sexe,Adresse,Complement Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
183,NaN,NaN,NaN,"5, rue de charonne",NaN,75011,Paris,NaN,FR,k-mayalevy,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
541,remy,exelmans,NaN,33 ter allée cocos,NaN,97438,Ste Marie,Reunion,RE,rexelmans,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
686,Satsuky,Urbain,NaN,Avenue Isidore Geyskens 98,NaN,1160,Auderghem,Région de Bruxelles-Capitale - Brussels Hoofds...,BE,tsutsu22,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
794,Marie,Quement,NaN,32 Rue de Brazza,NaN,92800,Puteaux,Île-de-France,FR,quement-m,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
838,Matthieu,Bienfait,NaN,255 Boulevard Bazeilles,NaN,83000,Toulon,Provence-Alpes-Côte d'Azur,FR,matthieu-bienfait,NaN,NaN,1.0,11.0
846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cdarblet,NaN,NaN,1.0,1.0
861,Mélie,POUSTAY-LING,NaN,3 Allée du Bois des Chênes,NaN,94370,Sucy-en-Brie,Île-de-France,FR,melicorne,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
863,Christophe,Dvisé,NaN,Elegemstraat 57,NaN,1700,Dilbeek,Vlaanderen,BE,christophe-devise,NaN,NaN,1.0,11.0
985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,erzbeth,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1043,Jean-Luc,Planchenot,NaN,4 Rue de Diarupt,NaN,88520,Wisembach,Grand-Est,FR,planchenot,NaN,NaN,1.0,1.0
1056,val,AGUNAOU,NaN,65 Avenue de Rochetaillée,le Montréal,42100,Saint-Étienne,Auvergne-Rhône-Alpes,FR,fifival-0,663095.0,ADHÉSION À VIE - Prix réduit,1.0,49.0
1058,Marine,Pannaud Deniau,NaN,31 rue de bourgogne,NaN,75007,Paris,Nouvelle-Aquitaine,FR,marine-pannaud,663095.0,ADHÉSION À VIE - Prix réduit,1.0,49.0
1139,Caroline,Panel,NaN,48 Chemin du Ruisseau,NaN,42520,Roisey,Auvergne-Rhône-Alpes,FR,panel-caroline,NaN,NaN,1.0,11.0

In [40]:
df1[df1['Identifiant de la contrepartie'].isna()]

,Prénom,Nom,Sexe,Adresse,Complement Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
84,Christine,Mabit,F,3 impasse des Hauts du ruisseau,NaN,31570,Lanta,NaN,FR,caroline-mabit,NaN,NaN,1.0,1.0
734,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,madelinecollard,NaN,NaN,1.0,15.0
806,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,vtoletti,NaN,NaN,1.0,1.0
816,Nathalie,BASTIEN,F,Penvern,NaN,56540,Le Croisty,Bretagne,FR,nabastien,NaN,NaN,1.0,6.0
826,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,roxane-makpopan,NaN,NaN,1.0,25.0
838,Matthieu,Bienfait,NaN,255 Boulevard Bazeilles,NaN,83000,Toulon,Provence-Alpes-Côte d'Azur,FR,matthieu-bienfait,NaN,NaN,1.0,11.0
846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cdarblet,NaN,NaN,1.0,1.0
863,Christophe,Dvisé,NaN,Elegemstraat 57,NaN,1700,Dilbeek,Vlaanderen,BE,christophe-devise,NaN,NaN,1.0,11.0
920,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,NaN,jdozance,NaN,NaN,1.0,50.0
1043,Jean-Luc,Planchenot,NaN,4 Rue de Diarupt,NaN,88520,Wisembach,Grand-Est,FR,planchenot,NaN,NaN,1.0,1.0
1139,Caroline,Panel,NaN,48 Chemin du Ruisseau,NaN,42520,Roisey,Auvergne-Rhône-Alpes,FR,panel-caroline,NaN,NaN,1.0,11.0

In [41]:
df1['Quantité'].value_counts(normalize=True)*100

1.0    96.915167
2.0     2.056555
3.0     0.685518
4.0     0.171380
5.0     0.171380
Name: Quantité, dtype: float64

In [42]:
df1.groupby('Montant unitaire total')['Quantité'].value_counts().to_frame()

                                 Quantité
Montant unitaire total Quantité
1.0                    1.0              4
6.0                    1.0              1
11.0                   1.0              3
15.0                   1.0              1
25.0                   1.0              1
39.0                   1.0           1049
49.0                   1.0             37
50.0                   1.0              1
78.0                   2.0             24
                       1.0              6
79.0                   1.0             13
99.0                   1.0             12
117.0                  3.0              8
149.0                  1.0              1
156.0                  4.0              2
195.0                  5.0              2
349.0                  1.0              2

In [43]:
df1.columns

Index(['Prénom ', 'Nom ', 'Sexe', 'Adresse ', 'Complement Adresse',
       'Code postal ', 'Ville ', 'Région ', 'Pays ', 'Nom d'utilisateur',
       'Identifiant de la contrepartie', 'Titre de la contrepartie',
       'Quantité', 'Montant unitaire total'],
      dtype='object')

In [44]:
df1[df1.Sexe.isna()]

,Prénom,Nom,Sexe,Adresse,Complement Adresse,Code postal,Ville,Région,Pays,Nom d'utilisateur,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
183,NaN,NaN,NaN,"5, rue de charonne",NaN,75011,Paris,NaN,FR,k-mayalevy,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
541,remy,exelmans,NaN,33 ter allée cocos,NaN,97438,Ste Marie,Reunion,RE,rexelmans,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
686,Satsuky,Urbain,NaN,Avenue Isidore Geyskens 98,NaN,1160,Auderghem,Région de Bruxelles-Capitale - Brussels Hoofds...,BE,tsutsu22,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
794,Marie,Quement,NaN,32 Rue de Brazza,NaN,92800,Puteaux,Île-de-France,FR,quement-m,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
838,Matthieu,Bienfait,NaN,255 Boulevard Bazeilles,NaN,83000,Toulon,Provence-Alpes-Côte d'Azur,FR,matthieu-bienfait,NaN,NaN,1.0,11.0
846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cdarblet,NaN,NaN,1.0,1.0
861,Mélie,POUSTAY-LING,NaN,3 Allée du Bois des Chênes,NaN,94370,Sucy-en-Brie,Île-de-France,FR,melicorne,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
863,Christophe,Dvisé,NaN,Elegemstraat 57,NaN,1700,Dilbeek,Vlaanderen,BE,christophe-devise,NaN,NaN,1.0,11.0
985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,erzbeth,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1043,Jean-Luc,Planchenot,NaN,4 Rue de Diarupt,NaN,88520,Wisembach,Grand-Est,FR,planchenot,NaN,NaN,1.0,1.0
1056,val,AGUNAOU,NaN,65 Avenue de Rochetaillée,le Montréal,42100,Saint-Étienne,Auvergne-Rhône-Alpes,FR,fifival-0,663095.0,ADHÉSION À VIE - Prix réduit,1.0,49.0
1058,Marine,Pannaud Deniau,NaN,31 rue de bourgogne,NaN,75007,Paris,Nouvelle-Aquitaine,FR,marine-pannaud,663095.0,ADHÉSION À VIE - Prix réduit,1.0,49.0
1139,Caroline,Panel,NaN,48 Chemin du Ruisseau,NaN,42520,Roisey,Auvergne-Rhône-Alpes,FR,panel-caroline,NaN,NaN,1.0,11.0

In [45]:
df1.loc[541,'Sexe']='H'

In [46]:
df1.iloc[541]

Prénom                                                     remy
Nom                                                    exelmans
Sexe                                                          H
Adresse                                      33 ter allée cocos
Complement Adresse                                          NaN
Code postal                                               97438
Ville                                                 Ste Marie
Région                                                  Reunion
Pays                                                         RE
Nom d'utilisateur                                     rexelmans
Identifiant de la contrepartie                           655971
Titre de la contrepartie          Adhésion à vie - Tarif réduit
Quantité                                                      1
Montant unitaire total                                       39
Name: 541, dtype: object

In [47]:
df1.loc[686,'Sexe']='F'

In [48]:
df1.loc[794,'Sexe']='F'

In [49]:
df1.loc[838,'Sexe']='H'

In [50]:
df1.loc[861,'Sexe']='F'

In [51]:
df1.loc[863,'Sexe']='H'

In [52]:
df1.loc[1043,'Sexe']='H'

In [53]:
df1.loc[1058,'Sexe']='F'

In [54]:
df1.loc[1139,'Sexe']='F'

In [55]:
df1.drop(846, inplace=True)

In [56]:
df2=df1.copy()

In [57]:
df2.drop(['Code postal ', "Nom d'utilisateur",'Adresse ', 'Complement Adresse','Prénom ', 'Nom '], axis=1, inplace=True)

In [58]:
df2[df2['Sexe'].isna()]

,Sexe,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
183,NaN,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
985,NaN,NaN,NaN,NaN,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1056,NaN,Saint-Étienne,Auvergne-Rhône-Alpes,FR,663095.0,ADHÉSION À VIE - Prix réduit,1.0,49.0

In [59]:
df2.shape

(1166, 8)

In [60]:
df3=pd.get_dummies(df2, columns=['Sexe'])

In [61]:
df3=df3[['Sexe_F', 'Sexe_H','Ville ', 'Région ', 'Pays ', 'Identifiant de la contrepartie',
     'Titre de la contrepartie', 'Quantité', 'Montant unitaire total']]

In [126]:
df3[df3['Titre de la contrepartie'].isna()==True]

Empty DataFrame
Columns: [Sexe_F, Sexe_H, Ville, Région, Pays, Identifiant de la contrepartie, Titre de la contrepartie, Quantité, Montant unitaire total]
Index: []

In [123]:
df3['Titre de la contrepartie']=df3['Titre de la contrepartie'].fillna('Don')

In [127]:
df3['Titre de la contrepartie'].value_counts()

Adhésion à vie - Tarif réduit                 987
ADHÉSION À VIE 🤩                               98
ADHÉSION À VIE - Prix réduit                   36
ADHÉSION À VIE - Duo                           18
Adhésion à vie - Tarif normal                  12
Don                                            10
ADHÉSION À VIE - Share the love !               2
ADHÉSION À VIE - Trio                           1
ADHÉSION À VIE  À -35% 🥳 Prix de lancement      1
ADHÉSION À VIE - Prix normal                    1
Name: Titre de la contrepartie, dtype: int64

In [132]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1166 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Sexe_F                          1166 non-null   uint8
 1   Sexe_H                          1166 non-null   uint8
 2   Ville                           1166 non-null   object
 3   Région                          906 non-null    object
 4   Pays                            1166 non-null   object
 5   Identifiant de la contrepartie  1156 non-null   float64
 6   Titre de la contrepartie        1166 non-null   object
 7   Quantité                        1166 non-null   float64
 8   Montant unitaire total          1166 non-null   float64
dtypes: float64(3), object(4), uint8(2)
memory usage: 115.2+ KB

In [134]:
df3['Identifiant de la contrepartie']=df3['Identifiant de la contrepartie'].fillna(70000.0)

In [135]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1166 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Sexe_F                          1166 non-null   uint8
 1   Sexe_H                          1166 non-null   uint8
 2   Ville                           1166 non-null   object
 3   Région                          906 non-null    object
 4   Pays                            1166 non-null   object
 5   Identifiant de la contrepartie  1166 non-null   float64
 6   Titre de la contrepartie        1166 non-null   object
 7   Quantité                        1166 non-null   float64
 8   Montant unitaire total          1166 non-null   float64
dtypes: float64(3), object(4), uint8(2)
memory usage: 115.2+ KB

In [62]:
df3.columns=df3.columns.str.strip()

In [63]:
df3['Pays'].value_counts()

FR    1123
CH      14
BE       9
DE       5
RE       2
NL       2
GB       1
PT       1
IE       1
DK       1
GF       1
Name: Pays, dtype: int64

In [64]:
df3['Ville'].value_counts()

Paris                       49
Paris 11e Arrondissement    25
Paris 18e Arrondissement    17
Paris 12e Arrondissement    16
Toulouse                    16
                            ..
Villeneuve-Loubet            1
Givet                        1
Paris 5e Arrondissement      1
Demi-Quartier                1
Eckbolsheim                  1
Name: Ville, Length: 711, dtype: int64

In [65]:
df3[df3['Ville'].isna()]

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
537,1,0,NaN,NaN,NaN,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
734,1,0,NaN,NaN,NaN,NaN,NaN,1.0,15.0
806,1,0,NaN,NaN,NaN,NaN,NaN,1.0,1.0
826,1,0,NaN,NaN,NaN,NaN,NaN,1.0,25.0
920,0,1,NaN,NaN,NaN,NaN,NaN,1.0,50.0
985,0,0,NaN,NaN,NaN,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [66]:
df3.loc[537,'Ville']='Aucune information'
df3.loc[734,'Ville']='Aucune information'
df3.loc[806,'Ville']='Aucune information'
df3.loc[826,'Ville']='Aucune information'
df3.loc[920,'Ville']='Aucune information'
df3.loc[985,'Ville']='Aucune information'

In [67]:
df3[df3['Ville'].isna()]

Empty DataFrame
Columns: [Sexe_F, Sexe_H, Ville, Région, Pays, Identifiant de la contrepartie, Titre de la contrepartie, Quantité, Montant unitaire total]
Index: []

In [68]:
df3[df3['Ville']=='Paris']

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
42,1,0,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
50,0,1,Paris,France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
52,0,1,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
68,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
114,0,1,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
140,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
151,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
156,1,0,Paris,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
161,0,1,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
164,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
183,0,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
184,1,0,Paris,France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
190,0,1,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
232,1,0,Paris,82,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
238,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
261,1,0,Paris,île-de-france,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
264,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
265,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
322,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
360,1,0,Paris,Paris,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
364,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
373,0,1,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
419,0,1,Paris,France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
520,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
545,0,1,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
556,0,1,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
558,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
572,0,1,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
586,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
631,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
656,1,0,Paris,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
705,1,0,Paris,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
727,0,1,Paris,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
801,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
836,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
868,1,0,Paris,NaN,FR,656196.0,ADHÉSION À VIE - Duo,1.0,99.0
878,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
934,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
941,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
959,0,1,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1002,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1004,0,1,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1010,0,1,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1057,1,0,Paris,NaN,FR,663095.0,ADHÉSION À VIE - Prix réduit,1.0,49.0
1058,1,0,Paris,Nouvelle-Aquitaine,FR,663095.0,ADHÉSION À VIE - Prix réduit,1.0,49.0
1082,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1136,1,0,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1151,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1158,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [69]:
df3[df3['Ville'].str.contains('Paris')]

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
2,1,0,Paris 13e Arrondissement,Île-de-France,FR,656196.0,ADHÉSION À VIE - Duo,1.0,99.0
7,1,0,Paris 15e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
18,0,1,Paris 13e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
19,0,1,Paris 17e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
21,1,0,Paris 18e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
...,...,...,...,...,...,...,...,...,...
1149,1,0,Paris 20e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1151,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1152,1,0,Paris 11e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1157,1,0,Paris 18e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1158,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [70]:
df3.loc[df3.Ville.str.contains('Paris'), 'Région']='Île-de-France'
df3[df3['Ville'].str.contains('Paris')]

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
2,1,0,Paris 13e Arrondissement,Île-de-France,FR,656196.0,ADHÉSION À VIE - Duo,1.0,99.0
7,1,0,Paris 15e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
18,0,1,Paris 13e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
19,0,1,Paris 17e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
21,1,0,Paris 18e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
...,...,...,...,...,...,...,...,...,...
1149,1,0,Paris 20e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1151,1,0,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1152,1,0,Paris 11e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1157,1,0,Paris 18e Arrondissement,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1158,1,0,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [71]:
df3.loc[df3.Ville.str.contains('Paris'), 'Ville']='Paris'
df3[df3['Ville'].str.contains('Paris')]

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
2,1,0,Paris,Île-de-France,FR,656196.0,ADHÉSION À VIE - Duo,1.0,99.0
7,1,0,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
18,0,1,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
19,0,1,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
21,1,0,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
...,...,...,...,...,...,...,...,...,...
1149,1,0,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1151,1,0,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1152,1,0,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1157,1,0,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1158,1,0,Paris,Île-de-France,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [72]:
df3.Ville.nunique()

691

In [73]:
df3.Région.value_counts()

Île-de-France                                                    344
Auvergne-Rhône-Alpes                                             159
Nouvelle-Aquitaine                                                62
Occitanie                                                         61
Provence-Alpes-Côte d'Azur                                        41
Pays-de-la-Loire                                                  34
Grand-Est                                                         33
Bretagne                                                          21
Centre-Val de Loire                                               18
Hauts-de-France                                                   16
Bourgogne-Franche-Comté                                           14
Normandie                                                         13
FRANCE                                                             5
Genève                                                             5
Région de Bruxelles-Capitale - Brussels Hoofdstedelijk Gewest      5
France                                                             5
Vaud                                                               4
Haute-Savoie                                                       3
Seine et Marne                                                     2
Rhône-Alpes                                                        2
Noord-Holland                                                      2
Berlin                                                             2
-                                                                  2
Vlaanderen                                                         2
Midi-Pyrénées                                                      1
Aquitaine                                                          1
Madame                                                             1
Sélectionnez votre région, état ou province                        1
Reunion                                                            1
Julie Fuchs                                                        1
Paris                                                              1
92                                                                 1
Belgique                                                           1
france                                                             1
Dublin                                                             1
GE                                                                 1
16                                                                 1
Alsace                                                             1
State / Province                                                   1
Loire Atlantique                                                   1
Rhone-Alpes                                                        1
Select State                                                       1
Lisboa                                                             1
Nordrhein-Westfalen                                                1
Oise                                                               1
Neuchâtel                                                          1
Fribourg/Freiburg                                                  1
Rhône Alpes                                                        1
Name: Région, dtype: int64

In [74]:
df3.Pays.value_counts()

FR    1123
CH      14
BE       9
DE       5
RE       2
NL       2
GB       1
PT       1
IE       1
DK       1
GF       1
Name: Pays, dtype: int64

In [75]:
df3.loc[537,['Ville','Région','Pays']]='Aucune information'
df3.loc[734,['Ville','Région','Pays']]='Aucune information'
df3.loc[806,['Ville','Région','Pays']]='Aucune information'
df3.loc[826,['Ville','Région','Pays']]='Aucune information'
df3.loc[920,['Ville','Région','Pays']]='Aucune information'
df3.loc[985,['Ville','Région','Pays']]='Aucune information'
df3.loc[97,'Région']='Île-de-France'
df3.loc[242,'Région']='Centre-Val de Loire'
df3.loc[529,'Région']='Bourgogne-Franche-Comté'
df3.loc[589,'Région']='Bretagne'
df3.loc[922,'Région']='Île-de-France'
df3.loc[29,'Région']='Île-de-France'
df3.loc[113,'Région']='Bretagne'
df3.loc[207,'Région']='Pays-de-la-Loire'
df3.loc[665,'Région']='Pays-de-la-Loire'
df3.loc[962,'Région']='Grand-Est'
df3.loc[97,'Région']='Île-de-France'
df3.loc[242,'Région']='Centre-Val de Loire'
df3.loc[178,'Région']='Auvergne-Rhône-Alpes'
df3.loc[424,'Région']='Auvergne-Rhône-Alpes'
df3.loc[745,'Région']='Auvergne-Rhône-Alpes'
df3.loc[786,'Région']="Provence-Alpes-Côte d'Azur"
df3.loc[832,'Région']='Centre-Val de Loire'
df3.loc[146,'Région']='Île-de-France'
df3.loc[830,'Région']='Île-de-France'
df3.loc[372,'Région']='Berlin-Brandebourg'
df3.loc[662,'Région']='Berlin-Brandebourg'
df3.loc[1086,'Région']='Région de Bruxelles-Capitale - Brussels Hoofdstedelijk Gewest'
df3.loc[1062,'Région']='Rhône-Alpes'
df3.loc[599,'Région']='Île-de-France'
df3.loc[1115,'Région']='Lisbonne'
df3.loc[839,'Région']='Auvergne-Rhône-Alpes'
df3.loc[876,'Région']="Provence-Alpes-Côte d'Azur"
df3.loc[639,'Région']='Île-de-France'
df3.loc[935,'Région']='Île-de-France'
df3.loc[541,'Région']='La Réunion'
df3.loc[563,'Région']='Auvergne-Rhône-Alpes'
df3.loc[1034,'Région']='Auvergne-Rhône-Alpes'
df3.loc[250,'Région']='Fribourg'
df3.loc[450,'Région']='Île-de-France'
df3.loc[539,'Région']='Île-de-France'
df3.loc[547,'Région']='Pays-de-la-Loire'
df3.loc[1060,'Région']='Île-de-France'
df3.loc[516,'Région']='Auvergne-Rhône-Alpes'
df3.loc[969,'Ville']='Dublin'
df3.loc[576,'Région']='Genève'
df3.loc[763,'Région']='Vaud'
df3.loc[955,'Région']='Hainaut'
df3.loc[152,'Région']='Düsseldorf en Rhénanie-du-Nord-Westphalie'
df3.loc[1014,'Région']='Düsseldorf en Rhénanie-du-Nord-Westphalie'
df3.loc[[541,944],['Région','Pays']]=['La Réunion','FR']
df3.loc[448,['Ville','Région']]=['Copenhague','Hovedstaden']
df3.loc[540,'Région']='St. Bees'
df3.loc[317,['Région','Pays']]=['Guyane Fr','FR']
df3.loc[[573,753,847,1103],'Région']="Provence-Alpes-Côte d'Azur"
df3.loc[[334,341,420,468,675,992,1015,1109,],'Région']="Auvergne-Rhône-Alpes"

In [76]:
df3.loc[df3.Ville.str.contains('Lyon'), 'Ville']='Lyon'
df3[df3['Ville'].str.contains('Lyon')]

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
147,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
176,0,1,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
297,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
334,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
336,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
341,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
346,0,1,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
410,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
420,0,1,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
457,0,1,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
460,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
468,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
489,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
579,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
593,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
621,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
675,1,0,Lyon,Auvergne-Rhône-Alpes,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
685,0,1,Lyon,Auvergne-Rhône-Alpes,FR,669624.0,ADHÉSION À VIE - Duo,1.0,78.0
723,0,1,Lyon,Auvergne-Rhône-Alpes,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
740,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,5.0,195.0
761,0,1,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
785,0,1,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
886,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
903,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
907,0,1,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
914,0,1,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
957,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
972,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
987,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
992,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1015,0,1,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1029,1,0,Lyon,Auvergne-Rhône-Alpes,FR,663095.0,ADHÉSION À VIE - Prix réduit,1.0,49.0
1037,0,1,Lyon,Auvergne-Rhône-Alpes,FR,663095.0,ADHÉSION À VIE - Prix réduit,1.0,49.0
1045,1,0,Lyon,Auvergne-Rhône-Alpes,FR,663095.0,ADHÉSION À VIE - Prix réduit,1.0,49.0
1067,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1109,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1153,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1154,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1164,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [77]:
df3.loc[12]

Sexe_F                                                        1
Sexe_H                                                        0
Ville                                           Rueil-Malmaison
Région                                                      NaN
Pays                                                         FR
Identifiant de la contrepartie                           655971
Titre de la contrepartie          Adhésion à vie - Tarif réduit
Quantité                                                      1
Montant unitaire total                                       39
Name: 12, dtype: object

In [78]:
unknown_villes=df3[(df3.Région.isna()) & (df3.Pays == 'FR')].Ville.unique()

In [79]:
unknown_villes

array(['Rueil-Malmaison', 'Cugnaux', "Villards d'Héria",
       "Parigné l'évêque", 'SAVONNIERES DEVANT BAR', 'Toulouse',
       'POLMINHAC', 'BEAUCOUZE', ' BISCHWILLER', 'Nice', 'MONTVENDRE',
       'colombières', 'Montpellier', 'Angers', 'Auxerre', 'Lanta',
       'Saint Malo', 'Ascain', 'Boulogne-Billancourt', 'Combs la Ville',
       'Geispolsheim', 'Conde sur aisne', 'NEUVILLE EN FERRAIN',
       'BROU SUR CHANTEREINE', 'Moulins le Carbonnel',
       'Vestric et Candiac', 'Issy les moulineaux', 'CHATENAY-MALABRY',
       'Volvic', 'Meythet', 'MALATAVERNE', 'Soisy sous montmorency',
       'Willer', 'paris', 'Lavérune', 'Chapdes beaufort', 'Calvisson',
       'Saint Sébastien sur Loire', 'Salon-de-Provence', 'Gugney',
       'ST ANDRE LES VERGERS', 'Sens', 'QUIMPER', 'LYON', 'ORINCLES',
       'Valserhone', 'Saint-Nazaire', 'Gentilly', 'Noisy-le-Grand',
       'Clichy', "saint-leu-d'esserent", 'Hesingue', 'Lambersart',
       'Saint-Germain-en-Laye', 'Ingrandes-le-Fresne-sur-Loire',
       'Monteynard', 'Solenzara', 'PLAINOISEAU', 'Enquin lez guinegatte',
       'Plouguin', 'CAHORS', 'Les Touches', 'Aytré', 'Saint-Brieuc',
       'COUCHES', 'Bordeaux', 'Gières', 'Vaujours',
       'Charleville-Mézières', 'Rennes', 'Bagnolet', 'Houilles',
       'Portes les valence', 'PARIS', 'nantes', 'Vincennes', 'Lambesc',
       'Vernouillet', 'HERIN', 'Tercis les Bains', 'Orgon', 'Laigné',
       'La Mézière', 'Caen', 'ANNECY', 'Monbalen', 'Aubervilliers',
       'Annecy', 'Champdray', 'Bourg en Bresse', 'Apt', 'Orléans',
       'Saint Marcel bel accueil', 'Sargé-lès-le-Mans', 'Nantes', 'Dijon',
       'Eaubonne', 'La Rochelle', 'Bourg-la-reine', 'Créteil',
       'Athis Mons', 'Vitré', 'NEYRON', 'Saint andré lez lille',
       'Montaigut sur save', 'lille', 'Bègles', 'Villiers-saint-Fréderic',
       'Dompierre les Eglises', 'Chatillon', 'Montreuil', 'Le Raincy',
       'La riche', 'collonges sous saleve', 'BEYNES', 'Audun le Tiche',
       'VANVES', 'St Georges sur Cher', 'Crazannes', 'Peillonnex',
       'VESSEAUX', 'ANGERS', 'VALLIGUIERES', 'Collonges-Au-Mont-d’Or',
       'Saint-Etienne', 'Clamart', 'VIRY CHATILLON', 'Roquettes',
       'Huningue', 'Brignoud', 'Pinsaguel', 'Maisons Laffitte',
       'la haie fouassiere', 'Levallois Perret', 'RENNES',
       'Lorry les metz', 'Massy', 'Château Thierry', 'TOURLAVILLE',
       'Vaires-sur-Marne', 'chelles', 'Saint-Denis', 'Mordelles',
       'Moissy-Cramayel', 'Duingt', 'Rantzwiller', 'ECUIRES',
       'Châteauroux', 'Nanterre', 'Arnage', 'Mallemort',
       'issy les moulineaux', 'Bessancourt', 'RUEIL Malmaison',
       'Thorrenc', 'Saint fargeau ponthierry', 'Maisons alfort',
       'Champigny sur Marne', 'Saint Divy', 'VIELLE AURE', 'Asson',
       'Escalquens', 'La ciotat', 'PORTETS', 'Lucé',
       '59160 - LOMME LILLE', 'ARGELES-GAZOST', 'Agnos',
       'Menthonnex-en-Bornes', 'Chasnais', 'Antony', 'VIGNACOURT',
       'Le Havre', 'Scy Chazelles', 'Bourges', 'Valenton', 'Kembs',
       'BISCHHEIM', 'Cagnes sur mer', 'Chalonnes sur Loire', 'Campénéac',
       'Segonzac', 'Gruffy', 'Saint Alban', 'Bagneux', 'LA REMUEE',
       'COMBOURG', 'PALAISEAU', 'Montrouge', 'ST SYLVAIN D ANJOU',
       'Limoges', 'Rueil Malmaison', 'NANTES', 'Annonay', 'Versailles',
       'Giremoutiers', 'Colombes', 'Bussy Saint Georges', 'Sauveterre',
       'SAINT-JORIOZ', 'royan', 'Villelongue de la salanque', 'Lille',
       'Hautecour', 'Mions', 'La Fresnais', 'Saché', 'GONESSE', 'CUSY',
       'Nemours', 'La Verpillere', 'Garéoult', 'ANNONAY', 'Davezieux',
       'Porspoder', 'Chantepie', 'PARIS 09', 'Saint-Étienne', 'Brignais',
       'Asnieres sur oise', 'Longueau', 'Saint Ouen',
       'BEAUPREAU EN MAUGES', 'Cazaux', 'Salin de giraud',
       'ST JEAN DE VEDAS', 'Grenoble', 'MONTPELLIER',
       'Verrières-le-Buisson', 'Guemene Penfao', 'FELINES', 'St benoit',
       'Thonon-les-Bains'], dtype=object)

In [80]:
df3[df3.Région.isna()]['Ville'].value_counts()

paris                       5
PARIS                       4
LYON                        4
Toulouse                    3
Rueil-Malmaison             3
                           ..
Saint-Nazaire               1
Chapdes beaufort            1
Saint fargeau ponthierry    1
Meythet                     1
FELINES                     1
Name: Ville, Length: 233, dtype: int64

In [81]:
df3[df3['Ville'].str.contains('Héria')]

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
15,1,0,Villards d'Héria,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [82]:
df3['Ville'] = df3['Ville'].str.title()

In [83]:
df3.Ville.value_counts()

Paris                 214
Lyon                   44
Annonay                16
Toulouse               16
Bordeaux               12
                     ...
Castanet-Tolosan        1
Rezé                    1
Saint-Xandre            1
Saint-Grégoire          1
Murs-Et-Gélignieux      1
Name: Ville, Length: 660, dtype: int64

In [84]:
frloc=pd.read_csv(r'C:\Users\Danie\Downloads\comsimp2018.txt',sep = '\t',  encoding='latin-1')

In [85]:
frloc[frloc.NCCENR.str.contains('Lanta')]

,CDC,CHEFLIEU,REG,DEP,COM,AR,CT,TNCC,ARTMAJ,NCC,ARTMIN,NCCENR
3356,0.0,0,44,10,188,3.0,8.0,0,NaN,LANTAGES,NaN,Lantages
6196,0.0,0,24,18,121,2.0,9.0,0,NaN,LANTAN,NaN,Lantan
11656,0.0,0,76,31,271,3.0,13.0,0,NaN,LANTA,NaN,Lanta
25442,0.0,0,75,64,313,1.0,22.0,0,NaN,LANTABAT,NaN,Lantabat

In [86]:
frloc

,CDC,CHEFLIEU,REG,DEP,COM,AR,CT,TNCC,ARTMAJ,NCC,ARTMIN,NCCENR
0,0.0,0,84,01,1,2.0,8.0,5,(L'),ABERGEMENT-CLEMENCIAT,(L'),Abergement-Clémenciat
1,0.0,0,84,01,2,1.0,1.0,5,(L'),ABERGEMENT-DE-VAREY,(L'),Abergement-de-Varey
2,0.0,1,84,01,4,1.0,1.0,1,NaN,AMBERIEU-EN-BUGEY,NaN,Ambérieu-en-Bugey
3,0.0,0,84,01,5,2.0,22.0,1,NaN,AMBERIEUX-EN-DOMBES,NaN,Ambérieux-en-Dombes
4,0.0,0,84,01,6,1.0,4.0,1,NaN,AMBLEON,NaN,Ambléon
...,...,...,...,...,...,...,...,...,...,...,...,...
35352,0.0,0,6,976,13,NaN,13.0,0,NaN,M'TSANGAMOUJI,NaN,M'Tsangamouji
35353,0.0,1,6,976,14,NaN,10.0,1,NaN,OUANGANI,NaN,Ouangani
35354,0.0,1,6,976,15,NaN,11.0,0,NaN,PAMANDZI,NaN,Pamandzi
35355,0.0,1,6,976,16,NaN,12.0,0,NaN,SADA,NaN,Sada
35356,0.0,1,6,976,17,NaN,13.0,0,NaN,TSINGONI,NaN,Tsingoni

In [87]:
REGIONS = {
    'Auvergne-Rhône-Alpes': ['01', '03', '07', '15', '26', '38', '42', '43', '63', '69', '73', '74'],
    'Bourgogne-Franche-Comté': ['21', '25', '39', '58', '70', '71', '89', '90'],
    'Bretagne': ['35', '22', '56', '29'],
    'Centre-Val de Loire': ['18', '28', '36', '37', '41', '45'],
    'Corse': ['2A', '2B'],
    'Grand Est': ['08', '10', '51', '52', '54', '55', '57', '67', '68', '88'],
    'Guadeloupe': ['971'],
    'Guyane': ['973'],
    'Hauts-de-France': ['02', '59', '60', '62', '80'],
    'Île-de-France': ['75', '77', '78', '91', '92', '93', '94', '95'],
    'La Réunion': ['974'],
    'Martinique': ['972'],
    'Normandie': ['14', '27', '50', '61', '76'],
    'Nouvelle-Aquitaine': ['16', '17', '19', '23', '24', '33', '40', '47', '64', '79', '86', '87'],
    'Occitanie': ['09', '11', '12', '30', '31', '32', '34', '46', '48', '65', '66', '81', '82'],
    'Pays de la Loire': ['44', '49', '53', '72', '85'],
    'Provence-Alpes-Côte d\'Azur': ['04', '05', '06', '13', '83', '84'],
}

DEPARTMENTS = {
    '01': 'Ain', 
    '02': 'Aisne', 
    '03': 'Allier', 
    '04': 'Alpes-de-Haute-Provence', 
    '05': 'Hautes-Alpes',
    '06': 'Alpes-Maritimes', 
    '07': 'Ardèche', 
    '08': 'Ardennes', 
    '09': 'Ariège', 
    '10': 'Aube', 
    '11': 'Aude',
    '12': 'Aveyron', 
    '13': 'Bouches-du-Rhône', 
    '14': 'Calvados', 
    '15': 'Cantal', 
    '16': 'Charente',
    '17': 'Charente-Maritime', 
    '18': 'Cher', 
    '19': 'Corrèze', 
    '2A': 'Corse-du-Sud', 
    '2B': 'Haute-Corse',
    '21': 'Côte-d\'Or', 
    '22': 'Côtes-d\'Armor', 
    '23': 'Creuse', 
    '24': 'Dordogne', 
    '25': 'Doubs', 
    '26': 'Drôme',
    '27': 'Eure', 
    '28': 'Eure-et-Loir', 
    '29': 'Finistère', 
    '30': 'Gard', 
    '31': 'Haute-Garonne', 
    '32': 'Gers',
    '33': 'Gironde', 
    '34': 'Hérault', 
    '35': 'Ille-et-Vilaine', 
    '36': 'Indre', 
    '37': 'Indre-et-Loire',
    '38': 'Isère', 
    '39': 'Jura', 
    '40': 'Landes', 
    '41': 'Loir-et-Cher', 
    '42': 'Loire', 
    '43': 'Haute-Loire',
    '44': 'Loire-Atlantique', 
    '45': 'Loiret', 
    '46': 'Lot', 
    '47': 'Lot-et-Garonne', 
    '48': 'Lozère',
    '49': 'Maine-et-Loire', 
    '50': 'Manche', 
    '51': 'Marne', 
    '52': 'Haute-Marne', 
    '53': 'Mayenne',
    '54': 'Meurthe-et-Moselle', 
    '55': 'Meuse', 
    '56': 'Morbihan', 
    '57': 'Moselle', 
    '58': 'Nièvre', 
    '59': 'Nord',
    '60': 'Oise', 
    '61': 'Orne', 
    '62': 'Pas-de-Calais', 
    '63': 'Puy-de-Dôme', 
    '64': 'Pyrénées-Atlantiques',
    '65': 'Hautes-Pyrénées', 
    '66': 'Pyrénées-Orientales', 
    '67': 'Bas-Rhin', 
    '68': 'Haut-Rhin', 
    '69': 'Rhône',
    '70': 'Haute-Saône', 
    '71': 'Saône-et-Loire', 
    '72': 'Sarthe', 
    '73': 'Savoie', 
    '74': 'Haute-Savoie',
    '75': 'Paris', 
    '76': 'Seine-Maritime', 
    '77': 'Seine-et-Marne', 
    '78': 'Yvelines', 
    '79': 'Deux-Sèvres',
    '80': 'Somme', 
    '81': 'Tarn', 
    '82': 'Tarn-et-Garonne', 
    '83': 'Var', 
    '84': 'Vaucluse', 
    '85': 'Vendée',
    '86': 'Vienne', 
    '87': 'Haute-Vienne', 
    '88': 'Vosges', 
    '89': 'Yonne', 
    '90': 'Territoire de Belfort',
    '91': 'Essonne', 
    '92': 'Hauts-de-Seine', 
    '93': 'Seine-Saint-Denis', 
    '94': 'Val-de-Marne', 
    '95': 'Val-d\'Oise',
    '971': 'Guadeloupe', 
    '972': 'Martinique', 
    '973': 'Guyane', 
    '974': 'La Réunion', 
    '976': 'Mayotte',
}

In [88]:
dict_map=frloc[frloc.NCCENR.isin(unknown_villes)].set_index('NCCENR').REG.to_dict()

In [89]:
unknown_villes

array(['Rueil-Malmaison', 'Cugnaux', "Villards d'Héria",
       "Parigné l'évêque", 'SAVONNIERES DEVANT BAR', 'Toulouse',
       'POLMINHAC', 'BEAUCOUZE', ' BISCHWILLER', 'Nice', 'MONTVENDRE',
       'colombières', 'Montpellier', 'Angers', 'Auxerre', 'Lanta',
       'Saint Malo', 'Ascain', 'Boulogne-Billancourt', 'Combs la Ville',
       'Geispolsheim', 'Conde sur aisne', 'NEUVILLE EN FERRAIN',
       'BROU SUR CHANTEREINE', 'Moulins le Carbonnel',
       'Vestric et Candiac', 'Issy les moulineaux', 'CHATENAY-MALABRY',
       'Volvic', 'Meythet', 'MALATAVERNE', 'Soisy sous montmorency',
       'Willer', 'paris', 'Lavérune', 'Chapdes beaufort', 'Calvisson',
       'Saint Sébastien sur Loire', 'Salon-de-Provence', 'Gugney',
       'ST ANDRE LES VERGERS', 'Sens', 'QUIMPER', 'LYON', 'ORINCLES',
       'Valserhone', 'Saint-Nazaire', 'Gentilly', 'Noisy-le-Grand',
       'Clichy', "saint-leu-d'esserent", 'Hesingue', 'Lambersart',
       'Saint-Germain-en-Laye', 'Ingrandes-le-Fresne-sur-Loire',
       'Monteynard', 'Solenzara', 'PLAINOISEAU', 'Enquin lez guinegatte',
       'Plouguin', 'CAHORS', 'Les Touches', 'Aytré', 'Saint-Brieuc',
       'COUCHES', 'Bordeaux', 'Gières', 'Vaujours',
       'Charleville-Mézières', 'Rennes', 'Bagnolet', 'Houilles',
       'Portes les valence', 'PARIS', 'nantes', 'Vincennes', 'Lambesc',
       'Vernouillet', 'HERIN', 'Tercis les Bains', 'Orgon', 'Laigné',
       'La Mézière', 'Caen', 'ANNECY', 'Monbalen', 'Aubervilliers',
       'Annecy', 'Champdray', 'Bourg en Bresse', 'Apt', 'Orléans',
       'Saint Marcel bel accueil', 'Sargé-lès-le-Mans', 'Nantes', 'Dijon',
       'Eaubonne', 'La Rochelle', 'Bourg-la-reine', 'Créteil',
       'Athis Mons', 'Vitré', 'NEYRON', 'Saint andré lez lille',
       'Montaigut sur save', 'lille', 'Bègles', 'Villiers-saint-Fréderic',
       'Dompierre les Eglises', 'Chatillon', 'Montreuil', 'Le Raincy',
       'La riche', 'collonges sous saleve', 'BEYNES', 'Audun le Tiche',
       'VANVES', 'St Georges sur Cher', 'Crazannes', 'Peillonnex',
       'VESSEAUX', 'ANGERS', 'VALLIGUIERES', 'Collonges-Au-Mont-d’Or',
       'Saint-Etienne', 'Clamart', 'VIRY CHATILLON', 'Roquettes',
       'Huningue', 'Brignoud', 'Pinsaguel', 'Maisons Laffitte',
       'la haie fouassiere', 'Levallois Perret', 'RENNES',
       'Lorry les metz', 'Massy', 'Château Thierry', 'TOURLAVILLE',
       'Vaires-sur-Marne', 'chelles', 'Saint-Denis', 'Mordelles',
       'Moissy-Cramayel', 'Duingt', 'Rantzwiller', 'ECUIRES',
       'Châteauroux', 'Nanterre', 'Arnage', 'Mallemort',
       'issy les moulineaux', 'Bessancourt', 'RUEIL Malmaison',
       'Thorrenc', 'Saint fargeau ponthierry', 'Maisons alfort',
       'Champigny sur Marne', 'Saint Divy', 'VIELLE AURE', 'Asson',
       'Escalquens', 'La ciotat', 'PORTETS', 'Lucé',
       '59160 - LOMME LILLE', 'ARGELES-GAZOST', 'Agnos',
       'Menthonnex-en-Bornes', 'Chasnais', 'Antony', 'VIGNACOURT',
       'Le Havre', 'Scy Chazelles', 'Bourges', 'Valenton', 'Kembs',
       'BISCHHEIM', 'Cagnes sur mer', 'Chalonnes sur Loire', 'Campénéac',
       'Segonzac', 'Gruffy', 'Saint Alban', 'Bagneux', 'LA REMUEE',
       'COMBOURG', 'PALAISEAU', 'Montrouge', 'ST SYLVAIN D ANJOU',
       'Limoges', 'Rueil Malmaison', 'NANTES', 'Annonay', 'Versailles',
       'Giremoutiers', 'Colombes', 'Bussy Saint Georges', 'Sauveterre',
       'SAINT-JORIOZ', 'royan', 'Villelongue de la salanque', 'Lille',
       'Hautecour', 'Mions', 'La Fresnais', 'Saché', 'GONESSE', 'CUSY',
       'Nemours', 'La Verpillere', 'Garéoult', 'ANNONAY', 'Davezieux',
       'Porspoder', 'Chantepie', 'PARIS 09', 'Saint-Étienne', 'Brignais',
       'Asnieres sur oise', 'Longueau', 'Saint Ouen',
       'BEAUPREAU EN MAUGES', 'Cazaux', 'Salin de giraud',
       'ST JEAN DE VEDAS', 'Grenoble', 'MONTPELLIER',
       'Verrières-le-Buisson', 'Guemene Penfao', 'FELINES', 'St benoit',
       'Thonon-les-Bains'], dtype=object)

In [90]:
dict_map

{'Bagneux': 11,
 'Nice': 93,
 'Annonay': 84,
 'Thorrenc': 84,
 'Charleville-Mézières': 44,
 'Cazaux': 76,
 'Saint-Denis': 4,
 'Lambesc': 93,
 'Mallemort': 93,
 'Orgon': 93,
 'Salon-de-Provence': 93,
 'Caen': 28,
 'Segonzac': 75,
 'Aytré': 75,
 'Crazannes': 75,
 'Bourges': 24,
 'Dijon': 27,
 'Saint-Brieuc': 53,
 'Lucé': 24,
 'Montreuil': 11,
 'Vernouillet': 11,
 'Plouguin': 53,
 'Porspoder': 53,
 'Calvisson': 76,
 'Saint-Nazaire': 76,
 'Sauveterre': 76,
 'Cugnaux': 76,
 'Escalquens': 76,
 'Lanta': 76,
 'Pinsaguel': 76,
 'Roquettes': 76,
 'Toulouse': 76,
 'Bègles': 75,
 'Bordeaux': 75,
 'Lavérune': 76,
 'Montpellier': 76,
 'Chantepie': 53,
 'Mordelles': 53,
 'Rennes': 53,
 'Vitré': 53,
 'Châteauroux': 24,
 'Saché': 24,
 'Gières': 84,
 'Grenoble': 84,
 'Monteynard': 84,
 'Hautecour': 84,
 'Saint-Étienne': 84,
 'Nantes': 52,
 'Orléans': 24,
 'Monbalen': 75,
 'Angers': 52,
 'Gugney': 44,
 'Campénéac': 53,
 'Lambersart': 32,
 'Lille': 32,
 'Volvic': 84,
 'Agnos': 75,
 'Ascain': 75,
 'Asson': 75,
 'Geispolsheim': 44,
 'Huningue': 44,
 'Kembs': 44,
 'Rantzwiller': 44,
 'Willer': 44,
 'Brignais': 84,
 'Mions': 84,
 'Arnage': 52,
 'Sargé-lès-le-Mans': 52,
 'Annecy': 84,
 'Duingt': 84,
 'Gruffy': 84,
 'Menthonnex-en-Bornes': 84,
 'Peillonnex': 84,
 'Thonon-les-Bains': 84,
 'Massy': 11,
 'Giremoutiers': 11,
 'Moissy-Cramayel': 11,
 'Nemours': 11,
 'Vaires-sur-Marne': 11,
 'Houilles': 11,
 'Saint-Germain-en-Laye': 11,
 'Versailles': 11,
 'Longueau': 32,
 'Garéoult': 93,
 'Apt': 93,
 'Chasnais': 52,
 'Limoges': 75,
 'Champdray': 44,
 'Auxerre': 27,
 'Sens': 27,
 'Verrières-le-Buisson': 11,
 'Antony': 11,
 'Boulogne-Billancourt': 11,
 'Clamart': 11,
 'Clichy': 11,
 'Colombes': 11,
 'Montrouge': 11,
 'Nanterre': 11,
 'Rueil-Malmaison': 11,
 'Aubervilliers': 11,
 'Bagnolet': 11,
 'Noisy-le-Grand': 11,
 'Vaujours': 11,
 'Créteil': 11,
 'Gentilly': 11,
 'Valenton': 11,
 'Vincennes': 11,
 'Bessancourt': 11,
 'Eaubonne': 11}

In [91]:
reg_dict={k:i for i,j in REGIONS.items() for k in j}

In [92]:
reg_dict

{'01': 'Auvergne-Rhône-Alpes',
 '03': 'Auvergne-Rhône-Alpes',
 '07': 'Auvergne-Rhône-Alpes',
 '15': 'Auvergne-Rhône-Alpes',
 '26': 'Auvergne-Rhône-Alpes',
 '38': 'Auvergne-Rhône-Alpes',
 '42': 'Auvergne-Rhône-Alpes',
 '43': 'Auvergne-Rhône-Alpes',
 '63': 'Auvergne-Rhône-Alpes',
 '69': 'Auvergne-Rhône-Alpes',
 '73': 'Auvergne-Rhône-Alpes',
 '74': 'Auvergne-Rhône-Alpes',
 '21': 'Bourgogne-Franche-Comté',
 '25': 'Bourgogne-Franche-Comté',
 '39': 'Bourgogne-Franche-Comté',
 '58': 'Bourgogne-Franche-Comté',
 '70': 'Bourgogne-Franche-Comté',
 '71': 'Bourgogne-Franche-Comté',
 '89': 'Bourgogne-Franche-Comté',
 '90': 'Bourgogne-Franche-Comté',
 '35': 'Bretagne',
 '22': 'Bretagne',
 '56': 'Bretagne',
 '29': 'Bretagne',
 '18': 'Centre-Val de Loire',
 '28': 'Centre-Val de Loire',
 '36': 'Centre-Val de Loire',
 '37': 'Centre-Val de Loire',
 '41': 'Centre-Val de Loire',
 '45': 'Centre-Val de Loire',
 '2A': 'Corse',
 '2B': 'Corse',
 '08': 'Grand Est',
 '10': 'Grand Est',
 '51': 'Grand Est',
 '52': 'Grand Est',
 '54': 'Grand Est',
 '55': 'Grand Est',
 '57': 'Grand Est',
 '67': 'Grand Est',
 '68': 'Grand Est',
 '88': 'Grand Est',
 '971': 'Guadeloupe',
 '973': 'Guyane',
 '02': 'Hauts-de-France',
 '59': 'Hauts-de-France',
 '60': 'Hauts-de-France',
 '62': 'Hauts-de-France',
 '80': 'Hauts-de-France',
 '75': 'Île-de-France',
 '77': 'Île-de-France',
 '78': 'Île-de-France',
 '91': 'Île-de-France',
 '92': 'Île-de-France',
 '93': 'Île-de-France',
 '94': 'Île-de-France',
 '95': 'Île-de-France',
 '974': 'La Réunion',
 '972': 'Martinique',
 '14': 'Normandie',
 '27': 'Normandie',
 '50': 'Normandie',
 '61': 'Normandie',
 '76': 'Normandie',
 '16': 'Nouvelle-Aquitaine',
 '17': 'Nouvelle-Aquitaine',
 '19': 'Nouvelle-Aquitaine',
 '23': 'Nouvelle-Aquitaine',
 '24': 'Nouvelle-Aquitaine',
 '33': 'Nouvelle-Aquitaine',
 '40': 'Nouvelle-Aquitaine',
 '47': 'Nouvelle-Aquitaine',
 '64': 'Nouvelle-Aquitaine',
 '79': 'Nouvelle-Aquitaine',
 '86': 'Nouvelle-Aquitaine',
 '87': 'Nouvelle-Aquitaine',
 '09': 'Occitanie',
 '11': 'Occitanie',
 '12': 'Occitanie',
 '30': 'Occitanie',
 '31': 'Occitanie',
 '32': 'Occitanie',
 '34': 'Occitanie',
 '46': 'Occitanie',
 '48': 'Occitanie',
 '65': 'Occitanie',
 '66': 'Occitanie',
 '81': 'Occitanie',
 '82': 'Occitanie',
 '44': 'Pays de la Loire',
 '49': 'Pays de la Loire',
 '53': 'Pays de la Loire',
 '72': 'Pays de la Loire',
 '85': 'Pays de la Loire',
 '04': "Provence-Alpes-Côte d'Azur",
 '05': "Provence-Alpes-Côte d'Azur",
 '06': "Provence-Alpes-Côte d'Azur",
 '13': "Provence-Alpes-Côte d'Azur",
 '83': "Provence-Alpes-Côte d'Azur",
 '84': "Provence-Alpes-Côte d'Azur"}

In [93]:
frloc[frloc.NCCENR.str.contains('Héria')]

,CDC,CHEFLIEU,REG,DEP,COM,AR,CT,TNCC,ARTMAJ,NCC,ARTMIN,NCCENR
15186,0.0,0,27,39,561,3.0,9.0,0,NaN,VILLARDS-D'HERIA,NaN,Villards-d'Héria

In [94]:
df3[(df3.Région.isna())&(df3.Pays=='FR')].Ville[df3[(df3.Région.isna())&(df3.Pays=='FR')].Ville.map(dict_map).isna()]

15            Villards D'Héria
20            Parigné L'Évêque
39      Savonnieres Devant Bar
46                   Polminhac
49                   Beaucouze
                 ...
1112      Verrières-Le-Buisson
1119            Guemene Penfao
1127                   Felines
1132                 St Benoit
1148          Thonon-Les-Bains
Name: Ville, Length: 135, dtype: object

In [95]:
frloc['NCCENR']=frloc.NCCENR.str.title()

In [96]:
frloc['NCCENR']=frloc.NCCENR.str.replace('-',' ')

In [97]:
df3[df3.Ville.str.contains('Héria')]

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
15,1,0,Villards D'Héria,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [98]:
frloc[frloc.NCCENR.str.contains('Héria')]

,CDC,CHEFLIEU,REG,DEP,COM,AR,CT,TNCC,ARTMAJ,NCC,ARTMIN,NCCENR
15186,0.0,0,27,39,561,3.0,9.0,0,NaN,VILLARDS-D'HERIA,NaN,Villards D'Héria

In [99]:
#df3[df3.Région.isna()][:60]

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
12,1,0,Rueil-Malmaison,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
14,1,0,Cugnaux,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
15,1,0,Villards D'Héria,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
20,1,0,Parigné L'Évêque,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
39,1,0,Savonnieres Devant Bar,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
45,1,0,Toulouse,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
46,1,0,Polminhac,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
49,0,1,Beaucouze,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
57,1,0,Bischwiller,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
58,1,0,Nice,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
60,1,0,Montvendre,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
73,1,0,Colombières,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
75,1,0,Montpellier,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
79,1,0,Angers,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
80,1,0,Auxerre,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
83,1,0,Lanta,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
84,1,0,Lanta,NaN,FR,NaN,NaN,1.0,1.0
87,1,0,Saint Malo,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
91,1,0,Ascain,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
92,1,0,Boulogne-Billancourt,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
95,1,0,Combs La Ville,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
96,1,0,Geispolsheim,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,2.0,78.0
99,1,0,Conde Sur Aisne,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
108,1,0,Neuville En Ferrain,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
115,0,1,Brou Sur Chantereine,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
117,0,1,Moulins Le Carbonnel,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
125,1,0,Vestric Et Candiac,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
129,1,0,Issy Les Moulineaux,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
133,0,1,Chatenay-Malabry,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
137,1,0,Volvic,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
141,1,0,Rueil-Malmaison,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
143,1,0,Meythet,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,2.0,78.0
145,1,0,Malataverne,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
165,1,0,Soisy Sous Montmorency,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
167,1,0,Willer,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
170,1,0,Paris,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
171,0,1,Lavérune,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
174,1,0,Chapdes Beaufort,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
175,1,0,Calvisson,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
188,0,1,Saint Sébastien Sur Loire,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
198,1,0,Salon-De-Provence,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
201,1,0,Gugney,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,2.0,78.0
206,1,0,St Andre Les Vergers,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
220,1,0,Sens,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
225,1,0,Quimper,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
227,1,0,Lyon,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
230,0,1,Orincles,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
234,0,1,Valserhone,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
237,1,0,Saint-Nazaire,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
241,1,0,Gentilly,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
245,1,0,Noisy-Le-Grand,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
246,1,0,Clichy,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
248,1,0,Saint-Leu-D'Esserent,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
251,1,0,Hesingue,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
256,1,0,Lambersart,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
259,0,1,Saint-Germain-En-Laye,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
260,0,1,Clichy,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
268,1,0,Ingrandes-Le-Fresne-Sur-Loire,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
281,1,0,Monteynard,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
285,1,0,Solenzara,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [100]:
frloc.NCCENR

0        Abergement Clémenciat
1          Abergement De Varey
2            Ambérieu En Bugey
3          Ambérieux En Dombes
4                      Ambléon
                 ...
35352            M'Tsangamouji
35353                 Ouangani
35354                 Pamandzi
35355                     Sada
35356                 Tsingoni
Name: NCCENR, Length: 35357, dtype: object

In [101]:
df3[df3.Ville.str.contains('')]

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
0,0,1,Mulhouse,Grand-Est,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1,1,0,Saint-Pargoire,Occitanie,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
2,1,0,Paris,Île-de-France,FR,656196.0,ADHÉSION À VIE - Duo,1.0,99.0
3,1,0,Nantes,Pays-de-la-Loire,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
4,0,1,Saint-Germain-Du-Corbéis,Normandie,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
...,...,...,...,...,...,...,...,...,...
1162,1,0,Annonay,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1163,1,0,Boulieu-Lès-Annonay,Auvergne-Rhône-Alpes,FR,657937.0,Adhésion à vie - Tarif normal,1.0,79.0
1164,1,0,Lyon,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1165,1,0,Doussard,Auvergne-Rhône-Alpes,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
1166,1,0,Mont-De-Marsan,Nouvelle-Aquitaine,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [102]:
lst=[]
for i in df3.Ville:
    for j in frloc.NCCENR:
        if i==j:
            lst.append(i)

In [103]:
aze=pd.DataFrame(lst)

In [272]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1166 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Sexe_F                          1166 non-null   uint8
 1   Sexe_H                          1166 non-null   uint8
 2   Ville                           1166 non-null   object
 3   Région                          1035 non-null   object
 4   Pays                            1166 non-null   object
 5   Identifiant de la contrepartie  1166 non-null   float64
 6   Titre de la contrepartie        1166 non-null   object
 7   Quantité                        1166 non-null   float64
 8   Montant unitaire total          1166 non-null   float64
dtypes: float64(3), object(4), uint8(2)
memory usage: 115.2+ KB

In [193]:
df3.Région.value_counts()

Île-de-France                                                    381
Auvergne-Rhône-Alpes                                             182
Occitanie                                                         71
Nouvelle-Aquitaine                                                65
Provence-Alpes-Côte d'Azur                                        47
Pays-de-la-Loire                                                  45
Grand-Est                                                         37
Bretagne                                                          27
Centre-Val de Loire                                               20
Hauts-de-France                                                   18
Bourgogne-Franche-Comté                                           17
Normandie                                                         15
Région de Bruxelles-Capitale - Brussels Hoofdstedelijk Gewest      6
Aucune information                                                 6
Genève                                                             6
Vaud                                                               5
Rhône-Alpes                                                        3
Noord-Holland                                                      2
Vlaanderen                                                         2
Berlin-Brandebourg                                                 2
La Réunion                                                         2
Düsseldorf en Rhénanie-du-Nord-Westphalie                          2
Provence-Alpes-Côte d’Azur                                         2
Alsace                                                             1
Nordrhein-Westfalen                                                1
GE                                                                 1
Dublin                                                             1
Neuchâtel                                                          1
Hainaut                                                            1
Midi-Pyrénées                                                      1
Hovedstaden                                                        1
Fribourg                                                           1
Lisbonne                                                           1
Guyane Fr                                                          1
Aquitaine                                                          1
St. Bees                                                           1
Name: Région, dtype: int64

In [271]:
df3[df3.Région.isna()][:60]

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
404,1,0,Sargé-Lès-Le-Mans,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,2.0,78.0
415,1,0,Eaubonne,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
417,0,1,La Rochelle,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
427,1,0,Bourg-La-Reine,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
444,1,0,Athis Mons,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
446,1,0,Vitré,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
455,1,0,Neyron,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
467,1,0,Saint André Lez Lille,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
474,1,0,Montaigut Sur Save,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
480,1,0,Lille,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
486,0,1,Bègles,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
492,0,1,Villiers-Saint-Fréderic,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
494,1,0,Dompierre Les Eglises,NaN,FR,656196.0,ADHÉSION À VIE - Duo,1.0,99.0
495,1,0,Chatillon,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
497,0,1,Le Raincy,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
500,1,0,La Riche,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
511,1,0,Collonges Sous Saleve,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
514,1,0,Beynes,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
518,1,0,Audun Le Tiche,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
532,0,1,Vanves,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
538,1,0,St Georges Sur Cher,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
549,1,0,Crazannes,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
559,1,0,Peillonnex,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
560,1,0,Vesseaux,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
564,0,1,Bègles,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
568,1,0,Valliguieres,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
581,1,0,Collonges-Au-Mont-D’Or,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
582,1,0,Saint-Etienne,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
591,1,0,Clamart,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
592,1,0,Viry Chatillon,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
595,1,0,Roquettes,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
602,1,0,Huningue,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
603,1,0,Brignoud,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
608,1,0,Pinsaguel,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
611,1,0,Maisons Laffitte,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
612,1,0,La Haie Fouassiere,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
618,0,1,Levallois Perret,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
626,1,0,Lorry Les Metz,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
635,1,0,Massy,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
644,1,0,Château Thierry,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
659,1,0,Tourlaville,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
660,1,0,Vaires-Sur-Marne,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
673,1,0,Chelles,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
674,1,0,Saint-Denis,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
678,1,0,Mordelles,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
679,1,0,Moissy-Cramayel,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
680,0,1,Duingt,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
690,0,1,Rantzwiller,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
696,1,0,Ecuires,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
710,0,1,Châteauroux,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
715,1,0,Nanterre,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
724,1,0,Arnage,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
731,1,0,Mallemort,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0
741,1,0,Bessancourt,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
750,1,0,Thorrenc,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
757,1,0,Saint Fargeau Ponthierry,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
764,1,0,Maisons Alfort,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
772,1,0,Champigny Sur Marne,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
773,1,0,Saint Divy,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0
777,1,0,Vielle Aure,NaN,FR,655971.0,Adhésion à vie - Tarif réduit,1.0,39.0

In [273]:
df3[(df3.Ville.str.contains('Saint-Denis'))&(df3.Région.isna())]

,Sexe_F,Sexe_H,Ville,Région,Pays,Identifiant de la contrepartie,Titre de la contrepartie,Quantité,Montant unitaire total
674,1,0,Saint-Denis,NaN,FR,669620.0,ADHÉSION À VIE 🤩,1.0,39.0

In [274]:
df3.loc[[92,95,115,129,738,133,170,316,356,507,695,845,936,1035,1111,259,246,260,368,371,245,436,165,241,496,797,323,347,478,350,389,674,],'Région']='Île-de-France'
df3.loc[[198,370,1068,376,396,],'Région']='Provence-Alpes-Côte d’Azur'
df3.loc[[227,388,423,609,383,391,137,143,145,174,234,281,319,353,395,402],'Région']='Auvergne-Rhône-Alpes'
df3.loc[[125,171,175,230,291,],'Région']='Occitanie'
df3.loc[[412,881,201,220,286,312,],'Région']='Bourgogne-Franche-Comté'
df3.loc[[117,366,406,948,188,237,268,302,363,377,],'Région']='Pays-de-la-Loire'
df3.loc[[96,167,206,251,337,393,],'Région']='Grand-Est'
df3.loc[[381,],'Région']='Normandie'
df3.loc[[318,912,308,375,385,],'Région']='Nouvelle-Aquitaine'
df3.loc[[225,344,625,290,310,378,],'Région']='Bretagne'
df3.loc[[99,108,248,256,288,374,],'Région']='Hauts-de-France'
df3.loc[[400,],'Région']='Centre-Val de Loire'
df3.loc[[285,],'Région']='Corse'

df3.loc[1064,['Ville','Région']]=['Paris','Île-de-France']

In [270]:
df3.loc[[58,452],'Région']="Provence-Alpes-Côte d’Azur"
df3.loc[[12,141,743,940,943],'Région']="Île-de-France"
df3.loc[[334,341,420,468,675,992,1015,1109,],'Région']="Auvergne-Rhône-Alpes"
df3.loc[14, 'Région']='Occitanie'
df3.loc[15, 'Région']='Bourgogne-Franche-Comté'
df3.loc[20, 'Région']='Pays-de-la-Loire'
df3.loc[39, 'Région']='Grand-Est'
df3.loc[[45,365,422],'Région']='Occitanie'
df3.loc[46,'Région']='Auvergne-Rhône-Alpes'
df3.loc[49,'Région']='Pays-de-la-Loire'
df3.loc[57,'Région']='Grand-Est'
df3.loc[60,'Région']='Auvergne-Rhône-Alpes'
df3.loc[73,'Région']='Normandie'
df3.loc[[75,513,1104],'Région']='Occitanie'
df3.loc[[79,566],'Région']='Pays-de-la-Loire'
df3.loc[80,'Région']='Bourgogne-Franche-Comté'
df3.loc[[83,84],'Région']='Occitanie'
df3.loc[87,'Région']='Bretagne'
df3.loc[91,'Région']='Nouvelle-Aquitaine'